:root {
    /* primary colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* neutral colors */
    --dark-gray: hsl(0, 0%, 59%);

    /* font */
    --font-kumbh-sans: 'Kumbh Sans', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: url('./images/bg-pattern-top.svg') top -30rem left no-repeat, url('./images/bg-pattern-bottom.svg') bottom -30rem right no-repeat,var(--dark-cyan);
}

main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background-color: white;
    min-width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    font-family: var(--font-kumbh-sans);
}

.profile-card > .image-container {
    background-image: url(./images/bg-pattern-card.svg);
    height: 8.2rem;
    width: 100%;
    margin-bottom: 4rem;
    position: relative;
}

.image-container > img {
    height: 7rem;
    width: 7rem;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    border: 0.5rem solid white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-card > header {
    font-size: 1.125rem;
    text-align: center;
    margin: 1rem 0;
    color: var(--dark-grayish-blue);
}

.profile-card .city {
    margin-top: 0.9rem;
    font-size: 1rem;
}

.profile-card .name {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.profile-card > ul {
    list-style-type: none;
    display: flex;
    width: 99%;
    padding-inline-start: 0;  
    align-items: center;
    justify-content: center; 
}

.profile-card > ul > * {
    padding-top: 1rem;
    flex: 1 0 33%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.profile-card > .stats {
    
    color: var(--dark-grayish-blue);
    padding: 1rem;
    border-top: thin solid rgb(0,0,0,0.1);
}

.profile-card .stats_header {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    color: var(--very-dark-desaturated-blue);
}

.profile-card .stats_desc {
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}

@media screen and (max-width: 600px) {
    .profile-card {
        min-width: 20rem;
    }
}